{% extends 'login/base.html' %}
{% load crispy_forms_tags %}
{% load static %}

{% block content %}
{% if user.is_authenticated%}
<div class="container body_content" style="margin-top: 30px;">
    <h1>View Timesheets</h1>
    <!-- Contains non editable data from database -->
    <div class="container row" style="border-style: solid; border-width: 0.5px;">
        <div class="row" style="padding: 1%;">
            <div class="col">
                <strong>Cooperating Teacher Name: </strong> <span
                    id="coop_fullname">{{data.cooperating_teacher_name}}</span>
            </div>

            <div class="col">
                <strong>Cooperating Teacher Email:</strong> <span
                    id="coop_email">{{data.cooperating_teacher_email}}</span>
            </div>
        </div>

        <div class="row" style="padding: 1%;">
            <div class="col">
                <strong>Semester:</strong>
                <span id="sem">
                    <select id="coop_semesters" class="form-select">
                        <option value="" disabled selected>Select Semester</option>
                        {% if data.semester == 'fall' %}
                        <option value="fall" selected>FALL</option>
                        {% else %}
                        <option value="fall">FALL</option>
                        {% endif %}

                        {% if data.semester == 'spring' %}
                        <option value="spring" selected>SPRING</option>
                        {% else %}
                        <option value="spring">SPRING</option>
                        {% endif %}

                        {% if data.semester == 'summer' %}
                        <option value="summer" selected>SUMMER</option>
                        {% else %}
                        <option value="summer">SUMMER</option>
                        {% endif %}
                    </select></span>
            </div>
            <div class="col">
                <strong>Year:</strong>
                <span id="years_list">
                    <select name="years" id="years" class="form-select">
                        <option value="" disabled selected>Select Year</option>
                        {% for year in data.years %}
                        {% if year == data.semester_year %}
                        <option value="{{year}}" selected>{{year}}</option>
                        {% else %}
                        <option value="{{year}}">{{year}}</option>
                        {% endif %}
                        {% endfor %}
                    </select>
                </span>
            </div>
            <div class="col">
                <strong>Students:<sup style="color: red;">*</sup></strong>
                <span id="coop_student_list">
                    <select name="coop_student" id="coop_student" class="form-select" onchange="supCoopSelect()"
                        required>
                        <option value="" disabled selected>Select Student</option>
                        {% for student in data.students %}
                        {% if data.student_email_selected == student.student_email%}
                        <option value="{{ student.student_email }}" selected>
                            {{ student.student_full_name }} ({{student.student_email}})</option>
                        {% else %}
                        <option value="{{ student.student_email }}">
                            {{ student.student_full_name }} ({{student.student_email}})</option>
                        {% endif %}
                        {% endfor %}
                    </select>
                </span>
            </div>
        </div>

        
        <div class="row" style="padding: 1%;">
            <div class="col">
                <strong>Status:</strong> 
                    <span id="status">
                    <form>
                            <fieldset id="group1">
                                <input type="radio" id="appr" name="group1" value="approved">
                                <label for="approved">Approved</label>
                                <input type="radio" id="sub" name="group1" value="submitted">
                                <label for="submitted">Submitted</label>
                                <input type="radio" id="All" name="group1" value="all" checked>
                                <label for="all">Both</label>
                            </fieldset>
                    </form> 
                    </span>
            </div>
            <div class="col">
                <strong>Start Date:</strong>
                <span id="start_date_">
                    <input type="date" name="start_date" id="start_date" onchange="supStartEndDateChange()" value="{{data.start_date}}">
                </span>
            </div>
            <div class="col">
                <strong>End Date:</strong>
                <span id="end_date_"><input type="date" name="end_date" id="end_date" onchange="supStartEndDateChange()" value="{{data.end_date}}">
                </span>
            </div>
        </div>
        <div class="row" style="padding: 1%;">
            <div class="col" style="margin: 0 auto;text-align:center;">
                <button onClick="getTimesheetsByCoopFilters()" class="btn btn-outline-primary" id="view_selected_timesheets" disabled>View Selected Timesheets</button>
            </div>
            <div class="col" style="margin: 0 auto;text-align:center;">
                <button onClick="location.href='/coop/email/{{data.cooperating_teacher_email}}'" class="btn btn-outline-primary" id="coop_approve_timesheets">Home</button>
            </div>
        </div>

        <div class="row" style="padding: 1%;">
            <div class="text-right">
                <span style="color: red; font-style: italic; font-size: small;">All <sup>*</sup> fields
                    are required</span>
            </div>
        </div>
    </div>

    <form action="" method="POST" id="coop_submit_form">
        <div id="csrf_token">{% csrf_token %}</div>
        <div class="container rowpadding text-center">
            <table class="table table-bordered" id="timesheet_table">
                <thead style="background-color: rgb(80, 0, 0); color: white;">
                    <tr>
                        <th scope="col">Date</th>
                        <th scope="col">Notes/Comments</th>
                        <th scope="col">Start Time</th>
                        <th scope="col">End Time</th>
                        <th scope="col">Total Hours</th>
                        <th scope="col">Approved</th>
                    </tr>
                </thead>
                <tbody>
                    {% for data_i in data.timelogs %}
                    <tr>
                        <td>
                            <input type="date" name="{{forloop.counter}}_date" id="{{forloop.counter}}_date"
                                value="{{data_i.log_date}}" disabled>
                        </td>
                        <td>
                            <p>
                                {{data_i.notes}}
                            </p>
                        </td>
                        <td>
                            <input type="time" value="{{ data_i.start_time|slice:'11:16' }}" disabled>
                        </td>
                        <td>
                            <input type="time" value="{{ data_i.end_time|slice:'11:16' }}" disabled>
                        </td>
                        <td>
                            <p>
                                {{data_i.hours_submitted}}
                            </p>
                        </td>
                        <td>
                            <p>
                                {% if data_i.hours_approved %}
                                Yes
                                {% else %}
                                No
                                {% endif %}
                            </p>
                        </td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
    </form>
</div>
{% else %}

<div class="container">
    <p id="login_msg"> You haven't logged in. To login, press the login button</p>
    <a href="{% url 'login' %}"><button class="btn btn-danger" style="color: white;">Log In</button></a>
</div>

{% endif %}
{% endblock %}
