{% extends 'login/base.html' %}
{% load crispy_forms_tags %}
{% load static %}

{% block content %}
{% if user.is_authenticated%}
<div class="container body_content" style="margin-top: 30px;">
    <h1>Timesheets</h1>
    <!-- Contains non editable data from database -->
    <div class="container row" style="border-style: solid; border-width: 0.5px;">
        <div class="row" style="padding: 1%;">
            <div class="col">
                <strong>Cooperating Teacher Name: </strong> <span
                    id="coop_fullname">{{data.cooperating_teacher_name}}</span>
            </div>
            <div class="col">
                <strong>Cooperating Teacher Email:</strong> <span
                    id="coop_email">{{data.cooperating_teacher_email}}</span>
            </div>
        </div>

        <div class="row" style="padding: 1%;">
            <div class="col">
                <strong>Semester:</strong>
                <span id="sem">
                    <select id="coop_semesters" class="form-select">
                        <option value="" disabled selected>Select Semester</option>
                        {% if data.semester == 'fall' %}
                        <option value="fall" selected>FALL</option>
                        {% else %}
                        <option value="fall">FALL</option>
                        {% endif %}

                        {% if data.semester == 'spring' %}
                        <option value="spring" selected>SPRING</option>
                        {% else %}
                        <option value="spring">SPRING</option>
                        {% endif %}

                        {% if data.semester == 'summer' %}
                        <option value="summer" selected>SUMMER</option>
                        {% else %}
                        <option value="summer">SUMMER</option>
                        {% endif %}
                    </select></span>
            </div>
            <div class="col">
                <strong>Year:</strong>
                <span id="years_list">
                    <select name="years" id="years" class="form-select">
                        <option value="" disabled selected>Select Year</option>
                        {% for year in data.years %}
                        {% if year == data.semester_year %}
                        <option value="{{year}}" selected>{{year}}</option>
                        {% else %}
                        <option value="{{year}}">{{year}}</option>
                        {% endif %}
                        {% endfor %}
                    </select>
                </span>
            </div>
            <div class="col">
                <strong>Students:<sup style="color: red;">*</sup></strong>
                <span id="coop_student_list">
                    <select name="coop_student" id="coop_student" class="form-select" onchange="supCoopSelect()"
                        required>
                        <option value="" disabled selected>Select Student</option>

                        {% for student in data.students %}
                        <!-- {% if data.cooperating_teacher_email_selected == student.cooperating_teacher_email%} -->
                        <option value="{{ student.student_email }}" >
                            {{ student.student_full_name }} ({{student.student_email}})</option>
                        <!-- {% else %} -->
                        <!-- <option value="{{ teacher.cooperating_teacher_email }}">
                            {{ student.cooperating_teacher }} ({{student.cooperating_teacher_email}})</option> -->
                        <!-- {% endif %} -->
                        {% endfor %}
                    </select>
                </span>
            </div>
        </div>

        
        <div class="row" style="padding: 1%;">
            <div class="col">
                <strong>Status:</strong> 
                    <span id="status">
                    <form>
                            <fieldset id="group1">
                                <input type="radio" id="appr" name="group1" value="approved">
                                <label for="approved">Approved</label>
                                <input type="radio" id="sub" name="group1" value="submitted">
                                <label for="submitted">Submitted</label>
                                <input type="radio" id="All" name="group1" value="all">
                                <label for="all">Both</label> 
                            </fieldset>
                    </form> 
                    </span>
            </div>
            <div class="col">
                <strong>Start Date:</strong> <span id="start_date_"><input type="date" name="start_date" id="start_date" onchange="supStartEndDateChange()"></span>
            </div>
            <div class="col">
                <strong>End Date:</strong> <span id="end_date_"><input type="date" name="end_date" id="end_date" onchange="supStartEndDateChange()"></span>
            </div>
        </div>
        <div class="row" style="padding: 1%;">
            <div class="text-center">
                <button onClick="getTimesheetsByCoopFilters()" class="btn btn-primary" id="view_selected_timesheets" disabled>View Selected Timesheets</button>
            </div>

        </div>
    </div>

    <form action="/coop/submit/approve/true" method="POST" id="coop_submit_form">
        <div id="csrf_token">{% csrf_token %}</div>
        <div class="container rowpadding text-center">
            <table class="table table-bordered" id="timesheet_table">
                <thead style="background-color: rgb(80, 0, 0); color: white;">
                    <tr>
                        <th scope="col">Date</th>
                        <th scope="col">Notes/Comments</th>
                        <th scope="col">Start Time</th>
                        <th scope="col">End Time</th>
                        <th scope="col">Total Hours</th>
                        <th scope="col">Hours Approved</th>
                    </tr>
                </thead>
                <tbody>
                    {% for date, data in data.timelogs.items %}
                    <tr>
                        <td>
                            <input type="date" name="{{forloop.counter}}_date" id="{{forloop.counter}}_date"
                                value="{{date}}" disabled>
                        </td>

                        {% if data|get_value:'log_date' %}
                        <td>
                            <input type="text" name="{{forloop.counter}}_notes" id="{{forloop.counter}}_notes"
                                value=" {{ data|get_value:'notes' }}" class="form-text" disabled>
                        </td>
                        <td>
                            <input type="time" name="{{forloop.counter}}_stime" id="{{forloop.counter}}_stime"
                                value="{{ data|get_value:'start_time'|slice:'11:16' }}" onblur="calculateTimeDiff(this.id)" disabled>
                        </td>
                        <td>
                            <input type="time" name="{{forloop.counter}}_etime" id="{{forloop.counter}}_etime"
                                value="{{ data|get_value:'end_time'|slice:'11:16' }}" onblur="calculateTimeDiff(this.id)" disabled>
                        </td>
                        <td>
                            <input type="text" name="{{forloop.counter}}_hours" id="{{forloop.counter}}_hours"
                                value=" {{ data|get_value:'hours_submitted' }}" class="form-text" disabled>
                        </td>
                        {% if data|get_value:'hours_approved' %}
                        <td>
                            <span id="{{forloop.counter}}_hours_approved">Yes</span>
                        </td>
                        {% else %}
                        <td>
                            <span id="{{forloop.counter}}_hours_approved">No</span>
                        </td>
                        {% endif %}
                        {% else %}
                        <td>
                            <input type="text" name="{{forloop.counter}}_notes" id="{{forloop.counter}}_notes" class="form-text" disabled>
                        </td>
                        <td>
                            <input type="time" name="{{forloop.counter}}_stime" id="{{forloop.counter}}_stime" disabled>
                        </td>
                        <td>
                            <input type="time" name="{{forloop.counter}}_etime" id="{{forloop.counter}}_etime" disabled>
                        </td>
                        <td>
                            <input type="text" name="{{forloop.counter}}_hours" id="{{forloop.counter}}_hours" class="form-text" disabled>
                        </td>
                        <td>
                            <span id="{{forloop.counter}}_hours_approved">N/A</span>
                        </td>
                        {% endif %}
                    </tr>
                    {% endfor %}
                </tbody>
            </table>

            <!-- <div class="container row">
                <div class="row" style="padding: 1%;">
                    <div class="col text-center">
                        <button type="submit" value="approve" class="btn btn-success" id="approve-timesheet" >Approve Timesheet</button>
                    </div>
                    <div class="col text-center">
                        <button type="submit" value="reject" class="btn btn-danger" id="reject-timesheet" formaction="/coop/submit/approve/false/">Reject Timesheet</button>
                    </div>
                </div>
            </div> -->
        </div>
    </form>
</div>
{% else %}

<div class="container">
    <p id="login_msg"> You haven't logged in. To login, press the login button</p>
    <a href="{% url 'login' %}"><button class="btn btn-danger" style="color: white;">Log In</button></a>
</div>

{% endif %}
{% endblock %}
