# This file may be used to create an environment using:
# $ conda create --name <env> --file <this file>
# platform: win-64
# python==3.10.2
asgiref
behave
django
psycopg2
python-dotenv
django-crispy-forms
gunicorn
# for running coverage of python code
coverage