# This file may be used to create an environment using:
# $ conda create --name <env> --file <this file>
# platform: win-64
asgiref==3.3.0
behave==1.2.6
bzip2==1.0.8
ca-certificates
click==8.0.4
colorama==0.4.4
django==3.1.2
krb5==1.19.2
libffi==3.4.2
libpq==14.2
libzlib==1.2.11
openssl==3.0.0
parse==1.19.0
parse_type==0.6.0
pip==22.0.3
psycopg2==2.9.3
python==3.10.2
python-dotenv==0.19.2
python_abi==3.10
pytz==2020.1
setuptools==60.9.3
six==1.16.0
sqlite==3.37.0
sqlparse==0.4.1
tk==8.6.12
tzdata==2021e
ucrt==10.0.20348.0
vc==14.2
vs2015_runtime==14.29.30037
wheel==0.37.1
xz==5.2.5
