{% extends 'login/base.html' %}
{% load crispy_forms_tags %}
{% load static %}

{% block content %}
<div class="container body_content" style="margin-top: 30px;">
    <h1>View Timesheets of Cooperating Teachers under you</h1>
    <!-- Contains non editable data from database -->

    {{data}}
    <div class="container row" style="border-style: solid; border-width: 0.5px;">
        <div class="row" style="padding: 1%;">
            <div class="col">
                <strong>Supervisor Name: </strong> <span
                    id="supervisor_fullname">{{data.university_supervisor_name}}</span>
            </div>
            <div class="col">
                <strong>Supervisor Email:</strong> <span
                    id="supervisor_email">{{data.university_supervisor_email}}</span>
            </div>
        </div>
        <div class="row" style="padding: 1%;">
            <div class="col">
                <strong>Semester:</strong>
                <span id="sem">
                    <select id="semesters" class="form-select">
                        <option value="" disabled selected>Select Semester</option>
                        {% if data.semester == 'fall' %}
                        <option value="fall" selected>FALL</option>
                        {% else %}
                        <option value="fall">FALL</option>
                        {% endif %}

                        {% if data.semester == 'spring' %}
                        <option value="spring" selected>SPRING</option>
                        {% else %}
                        <option value="spring">SPRING</option>
                        {% endif %}

                        {% if data.semester == 'summer' %}
                        <option value="summer" selected>SUMMER</option>
                        {% else %}
                        <option value="summer">SUMMER</option>
                        {% endif %}
                    </select></span>
            </div>
            <div class="col">
                <strong>Year:</strong>
                <span id="years_list">
                    <select name="years" id="years" class="form-select">
                        <option value="" disabled selected>Select Year</option>
                        {% for year in data.years %}
                        {% if year == data.semester_year %}
                        <option value="{{year}}" selected>{{year}}</option>
                        {% else %}
                        <option value="{{year}}">{{year}}</option>
                        {% endif %}
                        {% endfor %}
                    </select>
                </span>
            </div>
            <div class="col">
                <strong>Cooperating Teachers:<sup style="color: red;">*</sup></strong>
                <span id="coop_teachers_list">
                    <select name="coop_teachers" id="coop_teachers" class="form-select" onchange="supCoopSelect()"
                        required>
                        <option value="" disabled selected>Select Cooperating Teacher</option>
                        {% for teacher in data.cooperating_teachers %}
                        {% if data.cooperating_teacher_email_selected == teacher.cooperating_teacher_email%}
                        <option value="{{ teacher.cooperating_teacher_email }}" selected>
                            {{ teacher.cooperating_teacher }} ({{teacher.cooperating_teacher_email}})</option>
                        {% else %}
                        <option value="{{ teacher.cooperating_teacher_email }}">
                            {{ teacher.cooperating_teacher }} ({{teacher.cooperating_teacher_email}})</option>
                        {% endif %}
                        {% endfor %}
                    </select>
                </span>
            </div>
        </div>

        <div class="row">
            <div class="col">
                <strong>Start Date:</strong> <span id="start_date_"><input type="date" name="start_date" id="start_date"
                        onchange="supStartEndDateChange()" value="{{data.start_date}}"></span>
            </div>
            <div class="col">
                <strong>End Date:</strong> <span id="end_date_"><input type="date" name="end_date" id="end_date"
                        onchange="supStartEndDateChange()" value="{{data.end_date}}"></span>
            </div>
        </div>

        <div class="row" style="padding: 1%;">
            <div class="text-center">
                <button onClick="getSupervisorTimesheets()" class="btn btn-primary" id="view_selected_timesheets"
                    disabled>View
                    Selected Timesheets</button>
            </div>

        </div>


        <div class="row" style="padding: 1%;">
            <div class="text-right">
                <span style="color: red; font-style: italic; font-size: small;">All <sup>*</sup> fields
                    are required</span>
            </div>
        </div>

    </div>

    <form action="/coop/cooperatingteacher/submit/approve/true/" method="POST" id="coop_submit_form">
        <div id="csrf_token">{% csrf_token %}</div>
        <div class="container rowpadding text-center">
            <table class="table table-bordered" id="timesheet_table">
                <thead style="background-color: rgb(80, 0, 0); color: white;">
                    <tr>
                        <th scope="col">Date</th>
                        <th scope="col" hidden>Coop Name</th>
                        <th scope="col" hidden>Coop Email</th>
                        <th scope="col">Student Name</th>
                        <th scope="col">Student Email</th>
                        <th scope="col">Notes/Comments</th>
                        <th scope="col">Start Time</th>
                        <th scope="col">End Time</th>
                        <th scope="col">Total Hours</th>
                        <th scope="col">Approved</th>
                    </tr>
                </thead>
                <tbody>
                    {% for data_i in data.timelogs %}
                    <tr>
                        <td>
                            <input type="date" name="{{forloop.counter}}_date" id="{{forloop.counter}}_date"
                                value="{{data_i.log_date}}" disabled>
                        </td>
                        <td hidden>
                            <p>
                                {{data.cooperating_teacher_selected}}
                            </p>
                        </td>
                        <td hidden>
                            <p>
                                {{data.cooperating_teacher_email_selected}}
                            </p>
                        </td>
                        <td>
                            <p>
                                {{data_i.student_name}}
                            </p>
                        </td>
                        <td>
                            <p>
                                {{data_i.student_email}}
                            </p>
                        </td>
                        <td>
                            <p>
                                {{data_i.notes}}
                            </p>
                        </td>
                        <td>
                            <input type="time" value="{{ data_i.start_time|slice:'11:16' }}" disabled>
                        </td>
                        <td>
                            <input type="time" value="{{ data_i.end_time|slice:'11:16' }}" disabled>
                        </td>
                        <td>
                            <p>
                                {{data_i.hours_submitted}}
                            </p>
                        </td>
                        <td>
                            <p>
                                {% if data_i.hours_approved %}
                                Yes
                                {% else %}
                                No
                                {% endif %}
                            </p>
                        </td>

                    </tr>
                    {% endfor %}
                </tbody>
            </table>

            {% endblock %}