{% extends 'login/base.html' %}
{% load crispy_forms_tags %}
{% load static %}

{% block content %}
<div class="container body_content" style="margin-top: 30px;">
    <h1>View Timesheets of Cooperating Teachers under you</h1>
    <!-- Contains non editable data from database -->

    {{data}}
    <div class="container row" style="border-style: solid; border-width: 0.5px;">
        <div class="row" style="padding: 1%;">
            <div class="col">
                <strong>Supervisor Name: </strong> <span
                    id="supervisor_fullname">{{data.university_supervisor_name}}</span>
            </div>
            <div class="col">
                <strong>Supervisor Email:</strong> <span
                    id="supervisor_email">{{data.university_supervisor_email}}</span>
            </div>
        </div>
        <div class="row" style="padding: 1%;">
            <div class="col">
                <strong>Semester:</strong>
                <span id="sem">
                    <select id="semesters" class="form-select">
                        <option value="" disabled selected>Select Semester</option>
                        <option value="fall">FALL</option>
                        <option value="spring">SPRING</option>
                        <option value="summer">SUMMER</option>
                    </select></span>
            </div>
            <div class="col">
                <strong>Year:</strong>
                <span id="years_list">
                    <select name="years" id="years" class="form-select">
                        <option value="" disabled selected>Select Year</option>
                        {% for year in data.years %}
                        <option value="{{year}}">{{year}}</option>
                        {% endfor %}
                    </select>
                </span>
            </div>
            <div class="col">
                <strong>Cooperating Teachers:<sup style="color: red;">*</sup></strong>
                <span id="coop_teachers_list">
                    <select name="coop_teachers" id="coop_teachers" class="form-select" onchange="supCoopSelect()"
                        required>
                        <option value="" disabled selected>Select Cooperating Teacher</option>
                        {% for teacher in data.cooperating_teachers %}
                        <option value="{{ teacher.cooperating_teacher_email }}">
                            {{ teacher.cooperating_teacher }} ({{teacher.cooperating_teacher_email}})</option>
                        {% endfor %}
                    </select>
                </span>
            </div>
        </div>

        <div class="row">
            <div class="col">
                <strong>Start Date:</strong> <span id="start_date_"><input type="date" name="start_date" id="start_date"
                        onchange="supStartEndDateChange()"></span>
            </div>
            <div class="col">
                <strong>End Date:</strong> <span id="end_date_"><input type="date" name="end_date" id="end_date"
                        onchange="supStartEndDateChange()"></span>
            </div>
        </div>

        <div class="row" style="padding: 1%;">
            <div class="text-center">
                <button onClick="getSupervisorTimesheets()" class="btn btn-primary" id="view_selected_timesheets"
                    disabled>View
                    Selected Timesheets</button>
            </div>

        </div>


        <div class="row" style="padding: 1%;">
            <div class="text-right">
                <span style="color: red; font-style: italic; font-size: small;">All <sup>*</sup> fields
                    are required</span>
            </div>
        </div>

    </div>

    <form action="/coop/cooperatingteacher/submit/approve/true/" method="POST" id="coop_submit_form">
        <div id="csrf_token">{% csrf_token %}</div>
        <div class="container rowpadding text-center">
            <table class="table table-bordered" id="timesheet_table">
                <thead style="background-color: rgb(80, 0, 0); color: white;">
                    <tr>
                        <th scope="col">Date</th>
                        <th scope="col" hidden>Coop Name</th>
                        <th scope="col" hidden>Coop Email</th>
                        <th scope="col">Student Name</th>
                        <th scope="col">Student Email</th>
                        <th scope="col">Notes/Comments</th>
                        <th scope="col">Start Time</th>
                        <th scope="col">End Time</th>
                        <th scope="col">Total Hours</th>
                        <th scope="col">Approved</th>
                    </tr>
                </thead>
                <tbody>
                    {% for date, data in data.timelogs.items %}
                    <tr>
                        <td>
                            <input type="date" name="{{forloop.counter}}_date" id="{{forloop.counter}}_date"
                                value="{{date}}" disabled>
                        </td>

                        {% if data|get_value:'log_date' %}
                        <td>
                            <input type="text" name="{{forloop.counter}}_notes" id="{{forloop.counter}}_notes"
                                value=" {{ data|get_value:'notes' }}" class="form-text" disabled>
                        </td>
                        <td>
                            <input type="time" name="{{forloop.counter}}_stime" id="{{forloop.counter}}_stime"
                                value="{{ data|get_value:'start_time'|slice:'11:16' }}"
                                onblur="calculateTimeDiff(this.id)" disabled>
                        </td>
                        <td>
                            <input type="time" name="{{forloop.counter}}_etime" id="{{forloop.counter}}_etime"
                                value="{{ data|get_value:'end_time'|slice:'11:16' }}"
                                onblur="calculateTimeDiff(this.id)" disabled>
                        </td>
                        <td>
                            <input type="text" name="{{forloop.counter}}_hours" id="{{forloop.counter}}_hours"
                                value=" {{ data|get_value:'hours_submitted' }}" class="form-text" disabled>
                        </td>
                        {% if data|get_value:'hours_approved' %}
                        <td>
                            <span id="{{forloop.counter}}_hours_approved">Yes</span>
                        </td>
                        {% else %}
                        <td>
                            <span id="{{forloop.counter}}_hours_approved">No</span>
                        </td>
                        {% endif %}
                        {% else %}
                        <td>
                            <input type="text" name="{{forloop.counter}}_notes" id="{{forloop.counter}}_notes"
                                class="form-text" disabled>
                        </td>
                        <td>
                            <input type="time" name="{{forloop.counter}}_stime" id="{{forloop.counter}}_stime" disabled>
                        </td>
                        <td>
                            <input type="time" name="{{forloop.counter}}_etime" id="{{forloop.counter}}_etime" disabled>
                        </td>
                        <td>
                            <input type="text" name="{{forloop.counter}}_hours" id="{{forloop.counter}}_hours"
                                class="form-text" disabled>
                        </td>
                        <td>
                            <span id="{{forloop.counter}}_hours_approved">N/A</span>
                        </td>
                        {% endif %}
                    </tr>
                    {% endfor %}
                </tbody>
            </table>

            {% endblock %}