{% extends 'login/base.html' %}
{% load crispy_forms_tags %}
{% load static %}

{% block content %}
<link rel="stylesheet" href="{% static 'login/main.css' %}">
<div class="container body_content" style="margin-top: 30px;">
    {% if user.is_authenticated %}
    {{user.username}} is currently authenticated and logged in.
    <a href="{% url 'logout' %}"><button class="btn btn-danger" style="color: white;">Log out</button></a>
    {% else %}
    <form action="" method="POST">
        {% csrf_token %}
        <fieldset class="form-group">
            <legend class="border-bottom mb-4">Sign In</legend>
            {{ form|crispy }}
            <center>
                <div style="padding: 1%;width: 40%;">
                    <label for="student_type"> Are you a Student, Co-Op Teacher or Supervisor?</label>
                    <label for="student_type"> Select below <sup><strong>*</strong></sup></label>
                    <select id="usertype" name="usertype" class="form-select" style="text-align: center;" required>
                        <option value="student">Student</option>
                        <option value="coop">Co-Op Teacher</option>
                        <option value="supervisor">Supervisor</option>
                    </select>
                </div>
            </center>

        </fieldset>

        <div class="form-group text-center" id="signup-button" style="padding: 1%;">
            <button class="btn btn-primary" id="log-in-button">Log In</button>
        </div>
        <!-- <div class="form-group">
            <small class="text-muted ml-3">Don't have an account yet? <a href="{% url 'register' %}">Sign Up</a></small>
        </div> -->
    </form>
    {% endif %}
</div>
{% endblock %}